body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px; /* SEO font size */
}

header {
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    text-align: center; /* Added property */
}

img {
    width: 200px; 
    height: auto; 
    border-radius: 50%;
    margin-bottom: 20px;
}

.div-left, .div-right {
    margin-right: 35%;
    margin-left:35%;
}


.div-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#about .div-center ul li {
    margin: 0 10px;
    list-style-type: none;
}